body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 50px;
  font-weight: 400;
  font-style: normal;
}

.orange-color {
  color: orange;
}

button {
  background-color: orange;
  color: white;
  height: 30px;
  width: 70px;
  border: 2px solid black;
  border-radius: 2px;
}